.mark {
  display: inline-flex;
  align-items: center;
  line-height: 1;
}

.mark :global(img) {
  height: 11px;
  width: auto;
}

.light {
  display: block;
}

.dark {
  display: none;
}

:global(:root.dark) .light {
  display: none;
}

:global(:root.dark) .dark {
  display: block;
}
